In [22]:
import pandas as pd 

input_non_nam_paf = '/home/jpereira/OEs/OE1.v2/Data/non_nam.wo_str.decont.paf'
input_decont_paf = '/home/jpereira/OEs/OE1.v2/Data/map_contamination/query_x_ref-contamination.paf'

columns = ['query', 'qlen', 'qstart', 'qend', 'strand', 'subject', 'slen', 'start', 'send', 'mbases', 'aln_len', 'mapping_quality', 'tp','cm', 's1', 's2', 'dv', 'rl']
non_nam_df = pd.read_csv(input_non_nam_paf , sep = '\t')
                      
decont_df = pd.read_csv(input_decont_paf , sep = '\t')

non_nam_df.columns = columns
decont_df.columns = columns

nom_nam_filter_df = non_nam_df[['query', 'qlen', 'qstart', 'qend', 'mbases']]
decont_filter_df = decont_df[['query', 'qlen', 'qstart', 'qend', 'mbases']]

nom_nam_filter_df[nom_nam_filter_df['mbases']/nom_nam_filter_df['qlen'] > 0.65 ]

                                    query  qlen  qstart  qend  mbases
839  fc5c6c56-59b6-4716-b09f-86d5c2f23f70  7668      13  7638    5244